
@media screen and (min-width: 320px) {
body {
font-size: 22.5px;
}
}
@media screen and (min-width: 480px) {
body {
font-size: 33px;
}
}
@media screen and (min-width: 540px) {
body {
font-size: 37.5px;
}
}
@media screen and (min-width: 640px) {
body {
font-size: 45px;
}
}
@media screen and (min-width: 720px) {
body {
font-size: 49.5px;
}
}
@media screen and (min-width: 1080px) {
body {
font-size: 75px;
}
}
body,
p,
hr {
margin: 0;
}
body {
background-size: 100% 100%;
background-repeat: no-repeat;
background-position: center center;
font-family: 'Helvetica Neue', 'Microsoft YaHei', arial, helvetica, sans-serif;
-webkit-font-smoothing: antialiased;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
font-size: 16px;
line-height: 1.6;
-webkit-touch-callout: none;
}
div {
outline: none;
-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
div::-moz-focus-inner {
outline: none;
}
div:active {
outline: none;
}

/*上面的部分都是照李博的css文件抄的，下面的是参照李博的css文件自己写的*/
/*****************************************************/
html, body{
    height:100%;
}
table {
    width: 100%;
    height: 100%;
}

body.indexBody {
    background-image: url(../images/tengxunbg.png);
}

tr.mainlogo {
    width: 100%;
    height: 25%;
}
td.full {
    width: 100%;
}
.logobg {
    width: 100%;
    height: 100%;
    background-image: url(../images/biaoti_03.png); 
    background-size: 50% 70%;
    background-repeat: no-repeat;
    background-position: center bottom;
}

tr.mainpan {
    width: 100%;
    height: 60%;
}

.panbox {
    position: relative;
}
.panbox:before {
    content: '';
    display: block;
    padding-top: 100%;
}
.pancontent {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.panbg {
    width: auto;
    height: 100%;
    background-image: url(../images/zhuanpan_05.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
.pan {
    width: 33%;
    height: 30%;
    background-image: url(../images/wheel.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 35.5%; 
    right: 33%
    bottom: 34.5%;
    left: 34%;
}

tr.maindetail {
    width: 100%; 
    height: auto;
}
.extraDiv {
    width: 100%; 
    height: 100%;
}
.div {
    width: 40%;
    height: 50%;
    background-image: url(../images/anniu_07.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top left;  
}

/*****************************************************/
body.winBody {
    background-image: url(../images/zhongjiangbg.png);
}

tr.winlogo {
    width: 100%;
    height: 40%;
}
.winlogobg {
    width: 100%;
    height: 100%;
    background-image: url(../images/logo_03.png); 
    background-size: 50% 25%;
    background-repeat: no-repeat;
    background-position: center bottom;
}


tr.kudo {
    width: 100%;
    height: 30%;
}
.kudo_text {
    text-align: center;
    width: 100%;
    height: 40%;
    position: relative;
    top: 30%;
}
.kudo_text1 {
    font-size: 20px;
    color: white; 
}
.kudo_text2 {
    font-size: 20px;
    color: yellow; 
}


tr.fomlink {
    width: 100%;
    height: auto;
}
.linkdiv {
    text-align: center;
    width: 100%;
    height: 50%;
}
.fomtext {
    font-size: 20px;
    color: white; 
}
.fomclick {
    height: 70%;
    width: 70%;
    background-image: url(../images/anniu2_07.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;  
    position: relative;
    left: 15%; 
}

.masklay  {
    display: none;
    position: absolute;
    top:0%;
    left:0%;
    height:100%;
    width:100%;
    z-index:1001;
    /*
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    */
}
.overlay{
    display: none;
    position: absolute;
    top:0%;
    left:0%;
    height:100%;
    width:100%;
    z-index:1002;
}
tr.returnTr {
    width: 100%;
    height: 30%;
}
.returnDiv {
    width: auto;
    height: 100%; 
}
.returnP {
    color: white;
    margin-top: 3%;
    margin-left: 1%;
}

tr.detail1Tr {
    width: 100%;
    height: 12%;
}
.detail1Div {
    width: 100%;
    height: 100%;
    background-image: url(../images/lotterydetail1.png); 
    background-size: 85% 100%;
    background-repeat: no-repeat;
    background-position: center center;  
}
.detail1Text {
    width: 70%;
    font-size: 10px;
    padding-left: 14%;
    padding-top: 8%;  
}

tr.detail2Tr {
    width: 100%;
    height: 24%;
}
.detail2Div {
    width: 100%;
    height: 100%;
    background-image: url(../images/lotterydetail2.png); 
    background-size: 84% 80%;
    background-repeat: no-repeat;
    background-position: center center; 
    margin-left: 3.5%; 
}
.detail2Text {
    width: 70%;
    font-size: 10px;
    padding-left: 10.5%;
    padding-top: 10%;  
}

tr.detail3Tr {
    width: 100%;
    height: auto;
}
.detail3Div {
    width: 100%;
    height: 100%;
    background-image: url(../images/lotterydetail3.png); 
    background-size: 85% 90%;
    background-repeat: no-repeat;
    background-position: center center; 
    margin-bottom: 10%; 
}
.detail3Text {
    width: 70%;
    font-size: 10px;
    padding-left: 14%;
    padding-top: 12%;  
}

